Repository macvim-dev/macvim, pull requests merged in 2022-09, with the labels that each got.

#1276 Allows smooth resizing of MacVim's window
  runtime/doc/gui_mac.txt
  runtime/doc/tags
  src/MacVim/Base.lproj/Preferences.xib
  src/MacVim/MMAppController.h
  src/MacVim/MMAppController.m
  src/MacVim/MMCoreTextView.m
  src/MacVim/MMPreferenceController.h
  src/MacVim/MMPreferenceController.m
  src/MacVim/MMWindowController.h
  src/MacVim/MMWindowController.m
  src/MacVim/Miscellaneous.h
  src/MacVim/Miscellaneous.m
Labels: UI

#1280 Allow pinning the cmdline to be aligned to the bottom of window
  runtime/doc/gui_mac.txt
  runtime/doc/tags
  src/MacVim/Base.lproj/Preferences.xib
  src/MacVim/MMAppController.h
  src/MacVim/MMAppController.m
  src/MacVim/MMBackend.m
  src/MacVim/MMCoreTextView.h
  src/MacVim/MMCoreTextView.m
  src/MacVim/MMPreferenceController.m
  src/MacVim/MMTextView.h
  src/MacVim/MMTextView.m
  src/MacVim/Miscellaneous.h
  src/MacVim/Miscellaneous.m
Labels: Renderer

#1285 Remove DSA key for Sparkle updates
  src/MacVim/Info.plist
  src/MacVim/MacVim.xcodeproj/project.pbxproj
  src/MacVim/dsa_pub.pem
Labels: Updater

#1287 Support strikethrough/underdouble/underdashed/underdotted styles
  src/MacVim/MMCoreTextView.h
  src/MacVim/MMCoreTextView.m
  src/gui.c
  src/gui.h
Labels: Renderer, Vim Parity

#1290 Switch Sparkle appcast to use macvim.org domain name
  src/MacVim/Info.plist
Labels: Updater

#1214 Big Sur style toolbar icons
  src/MacVim/MMVimController.m
  src/MacVim/Toolbar/Attention.png
  src/MacVim/Toolbar/Copy.png
  src/MacVim/Toolbar/Cut.png
  src/MacVim/Toolbar/FindHelp.png
  src/MacVim/Toolbar/FindNext.png
  src/MacVim/Toolbar/FindPrev.png
  src/MacVim/Toolbar/Help.png
  src/MacVim/Toolbar/LoadSesn.png
  src/MacVim/Toolbar/Make.png
  src/MacVim/Toolbar/Open.png
  src/MacVim/Toolbar/Paste.png
  src/MacVim/Toolbar/Print.png
  src/MacVim/Toolbar/Redo.png
  src/MacVim/Toolbar/Replace.png
  src/MacVim/Toolbar/RunCtags.png
  src/MacVim/Toolbar/RunScript.png
  src/MacVim/Toolbar/Save.png
  src/MacVim/Toolbar/SaveAll.png
  src/MacVim/Toolbar/SaveSesn.png
  src/MacVim/Toolbar/TagJump.png
  src/MacVim/Toolbar/Undo.png
Labels: UI
